<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans    
      http://www.springframework.org/schema/beans/spring-beans-4.0.xsd    
      http://www.springframework.org/schema/context    
      http://www.springframework.org/schema/context/spring-context-4.0.xsd    
      http://www.springframework.org/schema/mvc    
      http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
      http://www.springframework.org/schema/aop
      http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<!-- 注解扫描的包 -->
	<context:component-scan base-package="com.stark.web" />

	<!-- 开启注解方案1 -->
	<!-- 注解方法处理 -->
	<!-- <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" /> -->
	<!-- 注解类映射处理 -->
	<!-- <bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"></bean> -->

	<!-- 开启注解方案2 -->
	<mvc:annotation-driven />

	<!-- 静态资源访问，方案1 -->

	<mvc:resources location="/images/" mapping="/images/**" />
	<mvc:resources location="/js/" mapping="/js/**" />
	<mvc:resources location="/css/" mapping="/css/**" />
	<mvc:resources location="/fonts/" mapping="/fonts/**" />
	<mvc:resources location="/ueditor/" mapping="/ueditor/**" />

	<!-- 静态资源访问，方案2 <mvc:default-servlet-handler/> -->
	<!-- 视图解释类 -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/"></property>
		<!--可为空,方便实现自已的依据扩展名来选择视图解释类的逻辑 -->
		<property name="suffix" value=".jsp"></property>
	</bean>

	<!-- 上传文件bean -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8" />
		<property name="maxUploadSize" value="10485760000" />
		<property name="maxInMemorySize" value="40960" />
	</bean>


	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<!--返回字符串格式json -->
							<value>application/json;charset=UTF-8</value>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	<bean id="logInterceptor" class="com.stark.web.aop.LogInterceptor"></bean>
	<aop:config>
		<aop:aspect id="logAspect" ref="logInterceptor">
			<aop:pointcut id="controllerPoint" expression="execution(* com.stark.web.controller..*.*(..))" />
			<!-- <aop:before method="before" pointcut="execution(public * com.stark.web.controller..*.*(..)) and args(..)" /> -->
			<!-- <aop:before method="beforeRedisDao" pointcut="execution(public * com.stark.web.dao.ShareRedisDAO.*(..)) and args(..)" /> -->
			<!-- <aop:around pointcut-ref="controllerPoint" method="doAround" /> -->
			<!-- <aop:after-throwing method="afterThrowing" throwing="throwable" pointcut="execution(public * com.stark.web.dao..*.*(..)) and args(..)" /> -->
			<!-- <aop:before method="beforeDao" pointcut="execution(public * com.stark.web.dao..*.*(..)) and args(..)" /> -->
		</aop:aspect>
	</aop:config>

	<bean id="facadeMonitoringAdvisor" class="net.bull.javamelody.MonitoringSpringAdvisor">
		<property name="pointcut">
			<bean class="org.springframework.aop.support.JdkRegexpMethodPointcut">
				<property name="pattern" value="com.stark.web.controller..*.*(..)" />
			</bean>
		</property>
	</bean>

</beans>    