<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd" [  
<!ENTITY contextInclude SYSTEM "org/springframework/web/context/WEB-INF/contextInclude.xml">  
]>  
  
<beans>  
    <bean id="redisDao" class="com.stark.web.dao.CodisDAO">
        <!-- <property name="redisTemplate" ref="redisTemplate" /> -->
    </bean>
    
    <bean id="commentDao" class="com.stark.web.dao.CommentDAO">
        <property name="sessionFactory" ref="sessionFactory"></property>
        <property name="redisDao" ref="redisDao"></property>
    </bean>
    
    <bean id="commentManagerBase" class="com.stark.web.service.CommentManager">
        <property name="commentDao" ref="commentDao"></property>
    </bean>
    
    <bean id="commentManager" parent="transactionBese">
        <property name="target" ref="commentManagerBase"></property>
    </bean>
   
</beans>  