<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd" [  
<!ENTITY contextInclude SYSTEM "org/springframework/web/context/WEB-INF/contextInclude.xml">  
]>  
  
<beans>  
    
    <bean id="redisDao" class="com.stark.web.dao.CodisDAO">
        <!-- <property name="redisTemplate" ref="redisTemplate" /> -->
    </bean>
    <bean id="userDao" class="com.stark.web.dao.UserDAO">
        <property name="redisDao" ref="redisDao"></property>
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
   
    <bean id="userManagerBase" class="com.stark.web.service.UserManager">
    	<!--<property name="articleManager" ref="articleManager"></property>-->
        <property name="userDao" ref="userDao"></property>
    </bean>
    
    <bean id="userManager" parent="transactionBese">
        <property name="target" ref="userManagerBase"></property>
    </bean>
   
</beans>  