<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd" [  
<!ENTITY contextInclude SYSTEM "org/springframework/web/context/WEB-INF/contextInclude.xml">  
]>  
  
<beans>  
	<bean id="redisDao" class="com.stark.web.dao.CodisDAO">
        <!--<property name="redisTemplate" ref="redisTemplate" /> -->
    </bean>
    
    <bean id="noticeDao" class="com.stark.web.dao.NoticeDAO">
        <property name="sessionFactory" ref="sessionFactory"></property>
        <property name="redisDao" ref="redisDao"></property>
    </bean>
    
    <bean id="noticeManagerBase" class="com.stark.web.service.NoticeManager">
        <property name="noticeDao" ref="noticeDao"></property>
    </bean>
    
    <bean id="noticeManager" parent="transactionBese">
        <property name="target" ref="noticeManagerBase"></property>
    </bean>
   
</beans>  